{% extends 'RSS_Page/main.html '%}

{% block zawartosc%}

<br>

<div class="row">
    <!--Początek lewej strony-->
	<div class="col-md-6">

		<h6>Adres e-mail:</h6>

		<div class="card card-body">
            <div class="col-md-12 col-12">
            <!-- Email -->
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="e-mail" placeholder="nazwisko_nralbumu@cloud.wsb.wroclaw.pl">
                        <small id="emailHelp" class="form-text text-muted">Pssss.. Twoje dane są bezpieczne, nikomu ich nie dam</small>
                    </div>
                </form>
            </div>
		</div>
        <hr>
		<div class="card card-body">
            <div class="col-md-12 col-10">
			    <table class="table table-sm">
                    <!--Miejsce na wrzut RSS-->
				    <tr>
                        <iframe id="encoder_iframe" height="95%" width="100%" src="{% url 'RSS' %}">
                        </iframe>
                        <br>
                    </tr>
			    </table>
             </div>
		</div>
	</div>
    <!--Koniec lewej strony-->

    <!--Początek prawej strony-->
	<div class="col-md-6">
		<h6>RSS Url</h6>
        <!--Początek RSS URL-->
        <div class="card card-body">
            <div class="col-md-12 col-6">
                <form>
                    <div class="form-group">
                        <input type="url" name="url" id="url"
                            placeholder="https://jakisprzyklad.pl"
                            pattern="https://.*" size="80"
                            required
                        >
                        <button type="submit" class="btn btn-primary mb-2">Dodaj</button>
                    </div>
                </form>                    
            </div>
        </div>
        <!--Koniec RSS url-->
     <hr>
        <!--Początek sekcji RSS-->
            <div class="card text-white bg-dark mb-3" style="max-width: 55rem;">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">RSS</p>
                </div>
            </div>
        <!--Koniec sekcji RSS-->
	</div>

</div>

{% endblock %}