<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
    <!--LOGO-->
    <a class="navbar-brand" href="#">
      <!--<img src="miejsce na obrazek" alt="" width="30" height="24" class="d-inline-block align-top"> -->
       RSS Feedmail
    </a>

    <!-- 

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    -->
    <!-- Miejsce na dodatkowe strony-->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">ZAPLECZE</a>
        </li>
      </ul>
    </div>
    <!--Koniec miejsca na dodatkowe strony-->
    
    <div>
      <!-- <form class="container-fluid justify-content-start"> -->
      <button class="btn btn-sm btn-outline-secondary" type="button">Zapisz</button>        
      <button class="btn btn-sm btn-outline-secondary" type="button">Cofnij</button>
      <button class="btn btn-outline-success me-2" type="button">WYŚLIJ</button>
      <!-- </form> -->
    </div>
  </div>

</nav>